<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Titre par défaut{% endblock %}</title>

</head>

<body>
{% include 'component/_navbar.html.twig' %}
{% block content %}{% endblock %}
</body>
</html>